@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.contenedorPrincipal{
    width: 100%;
    height: 100vh;
background: linear-gradient(305.55deg, #1A253F 56.08%, #2C406F 78.04%);
border-bottom: 16px solid #63B5B4;
backdrop-filter: blur(35px);
display: flex;
flex-direction: column;
}
.contenedorTituloPrincipal{
height: 48px;
width: 724px;
display: flex;
justify-content: start;
align-items: center;
position: absolute;
margin-top: 1em;
margin-left: 1.5em;
}
.contenedorTituloPrincipal{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.segundoContenedorSingleEvent{
    height: 460px;
width: 100%;
margin-top: 10em;
display: flex;
justify-content: center;
align-items: center;
gap: 2em;
}
.contenedorPonente{
    height: 451px;
width: 310px;
border-radius: 15px;
background-image: url(../imagenes/EC.png);
position: relative;
}
.contenedorPonente::before{
  z-index: -1;
 content: "";
 position: absolute;
 top:0;
 width: 100%;
 height: 100%;
 left: 0;
 border-radius: 15px;
 background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}
.contenedorPonente1{
    height: 451px;
width: 310px;
position: relative;
border-radius: 15px;
background-image: url(../imagenes/EC1.png);
}
.contenedorPonente1::before{
  z-index: -1;
 content: "";
 position: absolute;
 top:0;
 width: 100%;
 height: 100%;
 left: 0;
 border-radius: 15px;
 background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}
.contenedorNombrePonente{
    margin-left: 2em;
    display: flex;
    z-index: 900;
  margin-top: 2em;
}
.nombrePonente{
    font-family: "Poppins";
font-size: 20px;
font-weight: 900;
color:white;
text-align: left;
}
.contenedorTituloPonente{
    height: 50px;
width: 99px;
margin-left: 2em;
}
.tituloPonente{
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
color:white;
z-index: 900;

}
.contenedorGroup242{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;

}

/* aqui comienza Frequently Asked Questions */

.segundoContenedorPrincipal{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerFrecuently{
    height: 500px;
width: 1055px;

display: flex;
flex-direction: column;
justify-content: space-between;
}
.contenedorTituloSecundarioPrincipal{
    width: 100%;
}
.tituloSecundarioPrincipal{
    margin: 0;
    padding: 0;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
/* Dark – #000000 */

color: #000000;
}
.contenedorParrafoFrequently{
    height: 232px;
width: 1054px;
display: flex;
flex-direction: column;
justify-content: space-between;
margin-top: -2em;

}
.parrafoFrequently{
    font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
}
.tituloSecundarioPrincipal2{
    padding: 0;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
color: #000000;
}
/* aqui termina Frequently Asked Questions */

/* button light blue gradiente */
/* ----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .section1 {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/imagenes/campaign3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  .section1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(180deg, #12243a 0%, rgba(40, 57, 77, 0) 100%);
  }
  
  /* .container-fixed {
  
  
    } */
  .container-fixed {
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  .container-fixed__container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-fixed__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 1rem 4rem;
    box-sizing: border-box;
  }
  .container-fixed__header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 14rem;
    width: 100%;
    pointer-events: none;
    background: linear-gradient(0deg, rgba(0, 69, 113, 0.6) -70.07%, rgba(0, 99, 161, 0) 29.93%);
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  .container-fixed__info-evento {
    background-color: #1a263f;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.055em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-fixed__navbar {
    display: flex;
    gap: 1rem;
  }
  .container-fixed__navbar-link {
    text-decoration: none;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.055em;
    color: #ffffff;
  }
  .container-fixed__navbar-link--blue {
    background-color: #29618f;
    border-radius: 0.7rem;
    padding: 0.3rem;
    box-sizing: border-box;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.055em;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
  }
  .container-fixed__navbar-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .container-fixed__navbar-location-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
  .container-fixed__navbar-location-flag {
    padding: 0 0.3rem 0 0;
    box-sizing: border-box;
  }
  .container-fixed__navbar-location-img {
    padding: 0 0.3rem 0 0;
    box-sizing: border-box;
  }
  .container-fixed__navbar-location-text {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.055em;
    color: rgba(255, 255, 255, 0.8);
  }
  .container-fixed__navbar-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-fixed__navbar-separator {
    border: solid 1px #ffffff;
  }
  
  .container-title-button-p {
    width: 60%;
    height: 100vh;
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    padding: 4rem 4rem 0 4rem;
    margin: 0;
  }
  .container-title-button-p__title {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.055em;
    color: #ffffff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container-title-button-p__span-light {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.055em;
    color: #fff;
  }
  .container-title-button-p__p {
    width: 50%;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.07em;
    color: #ffffff;
  }
  .container-title-button-p__container-button {
    display: flex;
    gap: 1rem;
  }
  .container-title-button-p__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    width: 14.1875rem;
    height: 2.875rem;
    background: linear-gradient(90deg, #4fa9dd 37.5%, #63b5b4 100%);
    border-radius: 1.875rem;
    border: none;
    font-weight: 800;
    font-size: 0.875rem;
    letter-spacing: 0.07em;
    color: #fff;
    cursor: pointer;
  }
  .container-title-button-p__button--bg-transparent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    width: 14.1875rem;
    height: 2.875rem;
    background-color: transparent;
    border-radius: 1.875rem;
    border: 0.3rem solid #fff;
    font-weight: 800;
    font-size: 0.875rem;
    letter-spacing: 0.07em;
    color: #fff;
    cursor: pointer;
  }
  
  .section-view-led {
    width: auto;
    height: 1.2rem;
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
  }
  .section-view-led__span-led, .section-view-led__span-led--light-blue {
    width: 1.5625rem;
    height: 0.375rem;
    background-color: #ffffff;
    border-radius: 3.125rem;
  }
  .section-view-led__span-led--light-blue {
    background-color: #50aade;
  }
  
  .section2 {
    padding: 1rem 4rem;
  }
  .section2__h2 {
    padding: 3rem 0 1rem 0;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #1a253f;
  }
  .section2__span-light-blue {
    display: block;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #62b5b7;
  }
  .section2__p {
    padding: 1rem 0;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: #000;
  }
  .section2__wrapper-cards {
    display: flex;
    padding: 2rem 0 4rem 0;
    justify-content: space-between;
  }
  .section2__card {
    border-radius: 1rem;
    width: 20.5625rem;
  }
  .section2__card-img {
    background-image: url("../assets/img/chris-montgomery-smgTvepind4-unsplash-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
  }
  .section2__span-card {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }
  .section2__card-p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: #000;
    line-height: 22px;
  }
  .section2__container-agenda {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0 6rem 0;
    margin: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 101, 242, 0.12);
  }
  .section2__h2-black {
    padding: 2rem 0 0 0;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.01em;
    color: #000;
  }
  .section2__container-main-agenda {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .section2__container-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .section2__wrapper-agenda {
    display: flex;
    gap: 1rem;
  }
  .section2__img {
    display: flex;
    align-items: center;
  }
  .section2__span-date {
    display: block;
    font-size: 1.125rem;
    font-weight: 500;
    color: #000;
    line-height: 1.5625rem;
  }
  .section2__span-recepcion {
    font-size: 1.125rem;
    font-weight: 800;
    letter-spacing: 0.075em;
    color: #000;
  }
  .section2__p-agenda {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    line-height: 22px;
  }
  .section2__container-citas-agendadas {
    padding-left: 3.5rem;
  }


  
.section-formulario {
  width: 100%;
  padding: 4rem;
  /* borx right formulario */
  /* ----------------------------formulario */
}
.section-formulario__title-h2 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #1a253f;
  padding: 12rem 0 0 0;
}
.section-formulario__light-blue {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #62b5b7;
}
.section-formulario__wrapper {
  display: flex;
  padding: 2rem 0 0 0;
}
.section-formulario__box-left {
  width: 50%;
  padding: 0 2.5rem 0 0;
  margin: 0;
  flex-direction: column;
  display: flex;
  gap: 2rem;
}
.section-formulario__p-left {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.07em;
  color: #070d29;
}
.section-formulario__ul {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.section-formulario__li {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.07em;
  color: #070d29;
}
.section-formulario__box-right {
  width: 50%;
}
.section-formulario__container-form {
  box-sizing: border-box;
  height: 26rem;
  width: 100%;
  align-items: stretch;
  background: #f3f3f3;
  box-shadow: 0px 30px 40px rgba(23, 38, 65, 0.2);
  border-radius: 1.875rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 4rem 4rem auto;
  grid-template-areas: "nombre apellido" "email telefono" "mensaje chekbox";
  row-gap: 1rem;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.section-formulario__area-nombre {
  grid-area: nombre;
  display: flex;
  flex-direction: column;
}
.section-formulario__area-nombre label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.07em;
  color: #606060;
  margin: 0;
  padding: 0;
}
.section-formulario__area-nombre input {
  height: 2.5rem;
  width: 15.7607rem;
  border-radius: 0.9375rem;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  border: none;
}
.section-formulario__container-form-area-apellido {
  grid-area: apellido;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}
.section-formulario__container-form-area-apellido label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.07em;
  color: #606060;
  margin: 0;
  padding: 0;
}
.section-formulario__container-form-area-apellido input {
  height: 2.5rem;
  width: 15.7607rem;
  border-radius: 0.9375rem;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  border: none;
}
.section-formulario__container-form-area-email {
  grid-area: email;
  display: flex;
  flex-direction: column;
}
.section-formulario__container-form-area-email label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.07em;
  color: #606060;
  margin: 0;
  padding: 0;
}
.section-formulario__container-form-area-email input {
  height: 2.5rem;
  width: 15.7607rem;
  border-radius: 0.9375rem;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  border: none;
}
.section-formulario__container-form-area-telefono {
  grid-area: telefono;
  display: flex;
  flex-direction: column;
}
.section-formulario__container-form-area-telefono label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.07em;
  color: #606060;
  margin: 0;
  padding: 0;
}
.section-formulario__container-form-area-telefono input {
  height: 2.5rem;
  width: 15.7607rem;
  border-radius: 0.9375rem;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  border: none;
}
.section-formulario__container-form-area-mensaje {
  grid-area: mensaje;
  display: flex;
  flex-direction: column;
}
.section-formulario__container-form-area-mensaje label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.07em;
  color: #606060;
  margin: 0;
  padding: 0;
}
.section-formulario__container-form-area-mensaje textarea {
  background-color: #fff;
  height: 6.75rem;
  width: 15.7607rem;
  border-radius: 0.9375rem;
  resize: none;
}
.section-formulario__container-form-area-chekbox {
  grid-area: chekbox;
}
.section-formulario__container-form-area-chekbox span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.07em;
  color: #606060;
  margin: 0;
  padding: 0;
}
.section-formulario__group-check {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.section-formulario__group-check label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.07em;
  color: #606060;
}
.section-formulario__c-button {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0 0 0;
  height: 2.625rem;
  width: 100%;
}
.section-formulario__button {
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 0.07em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  border: none;
  width: 12rem;
  height: 2.625rem;
  background: linear-gradient(90deg, #4fa9dd 37.5%, #63b5b4 100%);
  border-radius: 30px;
}



.section3__box-right {
  width: 100%;
}
.section3__container-form {
  box-sizing: border-box;
  height: 26rem;
  width: 100%;
  align-items: stretch;
  background: #f3f3f3;
  box-shadow: 0px 30px 40px rgba(23, 38, 65, 0.2);
  border-radius: 1.875rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 4rem 4rem auto;
  grid-template-areas: "nombre apellido" "email telefono" "mensaje chekbox";
  row-gap: 1rem;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.section3__area-nombre {
  grid-area: nombre;
  display: flex;
  flex-direction: column;
}
.section3__area-nombre label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.07em;
  color: #606060;
  margin: 0;
  padding: 0;
}
.section3__area-nombre input {
  height: 2.5rem;
  width: 15.7607rem;
  border-radius: 0.9375rem;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  border: none;
}
.section3__container-form-area-apellido {
  grid-area: apellido;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}
.section3__container-form-area-apellido label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.07em;
  color: #606060;
  margin: 0;
  padding: 0;
}
.section3__container-form-area-apellido input {
  height: 2.5rem;
  width: 15.7607rem;
  border-radius: 0.9375rem;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  border: none;
}
.section3__container-form-area-email {
  grid-area: email;
  display: flex;
  flex-direction: column;
}
.section3__container-form-area-email label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.07em;
  color: #606060;
  margin: 0;
  padding: 0;
}
.section3__container-form-area-email input {
  height: 2.5rem;
  width: 15.7607rem;
  border-radius: 0.9375rem;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  border: none;
}
.section3__container-form-area-telefono {
  grid-area: telefono;
  display: flex;
  flex-direction: column;
}
.section3__container-form-area-telefono label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.07em;
  color: #606060;
  margin: 0;
  padding: 0;
}
.section3__container-form-area-telefono input {
  height: 2.5rem;
  width: 15.7607rem;
  border-radius: 0.9375rem;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  border: none;
}
.section3__container-form-area-mensaje {
  grid-area: mensaje;
  display: flex;
  flex-direction: column;
}
.section3__container-form-area-mensaje label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.07em;
  color: #606060;
  margin: 0;
  padding: 0;
}
.section3__container-form-area-mensaje textarea {
  background-color: #fff;
  height: 6.75rem;
  width: 15.7607rem;
  border-radius: 0.9375rem;
  resize: none;
}
.section3__container-form-area-chekbox {
  grid-area: chekbox;
}
.section3__container-form-area-chekbox span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.07em;
  color: #606060;
  margin: 0;
  padding: 0;
}
.section3__group-check {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.section3__group-check label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.07em;
  color: #606060;
}
.section3__c-button {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0 0 0;
  height: 2.625rem;
  width: 100%;
}
.section3__button {
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 0.07em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  border: none;
  width: 12rem;
  height: 2.625rem;
  background: linear-gradient(90deg, #4fa9dd 37.5%, #63b5b4 100%);
  border-radius: 30px;
}


.pie {
  width: 100%;
  margin-top: -2em;
}
/* hasta aqui va el form */




  
  .section-footer {
    /* 
      background-color: $bgFondo; */
    background-image: url("../assets/img/bgFondo.png");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    /*  background-position: center center; */
    background-size: cover;
    position: relative;
    /* links contacto estilos */
    /* ------------------------------------------ */
    /* section blog-------------------- */
    /* ----------------------------------- */
  }
  .section-footer__img-footer {
    width: 100%;
    height: 30em;
    background-color: rgba(40, 148, 236, 0.8431372549);
  }
  .section-footer__container-logo {
    padding: 6rem 0 0 0;
  }
  .section-footer__container-logo img {
    display: block;
    margin: 0 0 0 5rem;
    padding: 3rem 0;
  }
  .section-footer__container-col {
    display: flex;
    width: calc(100vw - 10rem);
    margin: 0 5rem;
    justify-content: space-between;
  }
  .section-footer__col1-section-nosotros {
    height: 11.625rem;
    width: 13.625rem;
  }
  .section-footer__p-nosotros {
    margin: 0;
    font-size: 0.8125rem;
    font-weight: 400;
    color: #ffffff;
    opacity: 0.5;
  }
  .section-footer__h4-nosotros {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.07em;
    color: #ffffff;
    padding: 0 0 1rem 0;
  }
  .section-footer__col1-section-contacto {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .section-footer__h4-contacto {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.07em;
    color: #ffffff;
    padding: 0 0 1rem 0;
  }
  .section-footer__container-links-contacto {
    display: flex;
    width: 15.625rem;
  }
  .section-footer__container-links-link {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
  }
  .section-footer__container-links-link img {
    margin-left: 0.4rem;
  }
  .section-footer__container-links-link span {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.07em;
    color: #ffffff;
    opacity: 1;
  }
  .section-footer__container-links-telephone {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 2.625rem;
    width: 12rem;
    border-radius: 30px;
    background: linear-gradient(90deg, #4fa9dd 37.5%, #63b5b4 100%);
    border-radius: 30px;
    text-decoration: none;
  }
  .section-footer__container-links-telephone img {
    height: 1rem;
    width: 16.2229785919px;
    margin-left: 0.4rem;
  }
  .section-footer__container-links-telephone span {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 0.07em;
    color: #ffffff;
    opacity: 1;
  }
  .section-footer__container-links-servicios {
    text-decoration: none;
  }
  .section-footer__container-links-servicios span {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.07em;
    color: #ffffff;
    opacity: 0.5;
  }
  .section-footer__container-links-cat-prop {
    text-decoration: none;
  }
  .section-footer__container-links-cat-prop span {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.07em;
    color: #ffffff;
    opacity: 0.5;
  }
  .section-footer__container-links-op {
    text-decoration: none;
  }
  .section-footer__container-links-op span {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.07em;
    color: #ffffff;
    opacity: 1;
    font-size: 1.25rem;
  }
  .section-footer__container-links-partners {
    text-decoration: none;
  }
  .section-footer__container-links-partners span {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.07em;
    color: #ffffff;
    opacity: 0.5;
  }
  .section-footer__container-links-comunidad {
    text-decoration: none;
  }
  .section-footer__container-links-comunidad span {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.07em;
    color: #ffffff;
    opacity: 0.5;
  }
  .section-footer__container-links-op2 {
    text-decoration: none;
  }
  .section-footer__container-links-op2 span {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.07em;
    color: #ffffff;
    opacity: 1;
    font-size: 1.25rem;
  }
  .section-footer__container-col-col2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .section-footer__col2-section-servicios {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .section-footer__col2-section-servicios h4 {
    padding: 0 0 1rem 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.07em;
    color: #ffffff;
  }
  .section-footer__col2-section-cat-prop {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .section-footer__col2-section-cat-prop h4 {
    padding: 0 0 1rem 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.07em;
    color: #ffffff;
  }
  .section-footer__col2-section-links-op {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .section-footer__container-col-col3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .section-footer__col3-section-partners {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .section-footer__h4-partners {
    padding: 0 0 1rem 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.07em;
    color: #ffffff;
  }
  .section-footer__col3-section-comunidades {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .section-footer__col3-section-comunidades h4 {
    padding: 0 0 1rem 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.07em;
    color: #ffffff;
  }
  .section-footer__col3-section-links-op {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .section-footer__container-col-col4 h4 {
    padding: 0 0 1rem 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.07em;
    color: #ffffff;
  }
  .section-footer__section-blog {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .section-footer__title-blog {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.07em;
    color: #ffffff;
  }
  .section-footer__section-blog-blog1 {
    height: 8.125rem;
    width: 8.9375rem;
    padding: 0.625rem;
    background: linear-gradient(180deg, rgba(67, 73, 101, 0.5) 0%, rgba(67, 73, 101, 0) 100%);
    -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 1rem;
  }
  .section-footer__p-blog {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.07em;
    color: #ffffff;
    opacity: 1;
    font-size: 0.625rem;
  }
  .section-footer__container-container-group-buttons {
    height: 6em;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    padding: 0 4rem;
  }
  .section-footer__container-icons-link {
    display: flex;
    gap: 1em;
    box-sizing: border-box;
  }
  .section-footer__container-copyright span {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.07em;
    color: #ffffff;
  }/*# sourceMappingURL=thanks.css.map */