/* button light blue gradiente */
/* ----------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.section1 {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/image-114.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.section1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: linear-gradient(180deg, #12243a 0%, rgba(40, 57, 77, 0) 100%);
}

/* .container-fixed {


  } */
.container-fixed {
  width: 100%;
  position: fixed;
  z-index: 100;
}
.container-fixed__container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fixed__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 1rem 4rem;
  box-sizing: border-box;
}
.container-fixed__header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 14rem;
  width: 100%;
  pointer-events: none;
  background: linear-gradient(0deg, rgba(0, 69, 113, 0.6) -70.07%, rgba(0, 99, 161, 0) 29.93%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.container-fixed__info-evento {
  background-color: #1a263f;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.055em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fixed__navbar {
  display: flex;
  gap: 1rem;
}
.container-fixed__navbar-link {
  text-decoration: none;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.055em;
  color: #ffffff;
}
.container-fixed__navbar-link--blue {
  background-color: #29618f;
  border-radius: 0.7rem;
  padding: 0.3rem;
  box-sizing: border-box;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.055em;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
.container-fixed__navbar-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.container-fixed__navbar-location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.container-fixed__navbar-location-flag {
  padding: 0 0.3rem 0 0;
  box-sizing: border-box;
}
.container-fixed__navbar-location-img {
  padding: 0 0.3rem 0 0;
  box-sizing: border-box;
}
.container-fixed__navbar-location-text {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.055em;
  color: rgba(255, 255, 255, 0.8);
}
.container-fixed__navbar-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fixed__navbar-separator {
  border: solid 1px #ffffff;
}

.container-title-button-p {
  width: 60%;
  height: 100vh;
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  padding: 4rem 4rem 0 4rem;
  margin: 0;
}
.container-title-button-p__title {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.055em;
  color: #ffffff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container-title-button-p__span-light {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.055em;
  color: #fff;
}
.container-title-button-p__p {
  width: 50%;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.container-title-button-p__container-button {
  display: flex;
  gap: 1rem;
}
.container-title-button-p__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  width: 14.1875rem;
  height: 2.875rem;
  background: linear-gradient(90deg, #4fa9dd 37.5%, #63b5b4 100%);
  border-radius: 1.875rem;
  border: none;
  font-weight: 800;
  font-size: 0.875rem;
  letter-spacing: 0.07em;
  color: #fff;
  cursor: pointer;
}
.container-title-button-p__button--bg-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  width: 14.1875rem;
  height: 2.875rem;
  background-color: transparent;
  border-radius: 1.875rem;
  border: 0.3rem solid #fff;
  font-weight: 800;
  font-size: 0.875rem;
  letter-spacing: 0.07em;
  color: #fff;
  cursor: pointer;
}

.section-view-led {
  width: auto;
  height: 1.2rem;
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}
.section-view-led__span-led, .section-view-led__span-led--light-blue {
  width: 1.5625rem;
  height: 0.375rem;
  background-color: #ffffff;
  border-radius: 3.125rem;
}
.section-view-led__span-led--light-blue {
  background-color: #50aade;
}

/* -----------------------section2-------------------- */
.section2 {
  position: relative;
  padding: 0 4rem;
  width: 100%;
  height: 12rem;
}
.section2__position-absolute {
  position: absolute;
  left: 0;
  display: flex;
  padding: 0 4rem;
  width: 100%;
  top: -5rem;
  justify-content: space-between;
}
.section2__card-color {
  height: 17.6875rem;
  width: 15.4375rem;
  background-color: #4faadd;
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.section2__card-color--dark {
  height: 17.6875rem;
  width: 15.4375rem;
  background-color: #29618f;
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.section2__card-img {
  position: relative;
  height: 17.6875rem;
  width: 15.4375rem;
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.section2__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.section2__h2-card {
  display: flex;
  z-index: 100;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

/* ------------------------------------------------------- */
/*--------------section turoriales------------------------- */
.section-tutoriales {
  padding: 0 4rem;
}
.section-tutoriales__container-h2-op {
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
}
.section-tutoriales__h2-title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #1a253f;
}
.section-tutoriales__ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}
.section-tutoriales__li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-tutoriales__a {
  text-decoration: none;
  font-size: 0.9375rem;
  font-weight: 500;
  color: #080808;
}
.section-tutoriales__a--active {
  padding: 0.3rem 1.2rem 0.3rem 1.2rem;
  text-decoration: none;
  font-size: 0.9375rem;
  font-weight: 500;
  color: #080808;
  background: #f5f5f5;
  border-radius: 15px;
}
.section-tutoriales__container-cards {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 4.5rem 0;
}
.section-tutoriales__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-tutoriales__container-img img {
  border-radius: 1rem;
}
.section-tutoriales__h2-card {
  font-size: 1rem;
  font-weight: 500;
  color: #080808;
}
.section-tutoriales__container-level {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.section-tutoriales__wrapper-img-span {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.section-tutoriales__span {
  font-size: 0.8125rem;
  font-weight: 500;
  color: rgba(8, 8, 8, 0.75);
}
.section-tutoriales__button {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  font-weight: 800;
  letter-spacing: 0.07em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(90deg, #4fa9dd 37.5%, #63b5b4 100%);
  border-radius: 1.875rem;
  border: none;
  cursor: pointer;
}

/* -------------------------------------------------------- */
/* -------------------------section-instructores------------ */
.section-instructores {
  background: #152840;
  border-bottom: 16px solid #63b5b4;
  padding: 0 4rem;
}
.section-instructores__h2 {
  padding: 2rem 0 0 0;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fff;
}
.section-instructores__container-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 6rem 0;
}
.section-instructores__card {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem;
  height: 6.5625rem;
  width: 15.875rem;
  border-radius: 1.25rem;
  background-color: #131b2d;
}
.section-instructores__h2-card {
  font-size: 0.875rem;
  font-weight: 700;
  color: #63b5b4;
}
.section-instructores__container-cargo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.section-instructores__span-cargo {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.section-instructores__button-cargo {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------------------------ */
/* ---------------------section videos de youtube----------------------- */
.section-videos-youtube {
  padding: 0 4rem;
}
.section-videos-youtube__title-h2 {
  padding: 4rem 0;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #1a253f;
}
.section-videos-youtube__p {
  width: 32.5625rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.055em;
  color: #000;
}

.container-cards-videos-yb__wrapper-cards {
  display: flex;
  justify-content: space-between;
}
.container-cards-videos-yb__container-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container-cards-videos-yb__span-ver-mas {
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 0.07em;
  color: #1a253f;
}
.container-cards-videos-yb__button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comunidad-card-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 4rem 0;
}
.comunidad-card-container__card {
  background: #ffffff;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 1rem;
  margin: 0;
  width: 14.875rem;
  height: 9.125rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.comunidad-card-container__container-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comunidad-card-container__p-link {
  text-align: center;
}
.comunidad-card-container__p-link a{
  text-decoration: underline solid #000;
  font-weight: 400;
font-size: 12px;
line-height: 18px;
text-align: center;
letter-spacing: 0.07em;
color:#070d29;
}

/* ------------------------------------------- */
/* footer */
.section-footer {
  /* 
      background-color: $bgFondo; */
  background-image: url("../assets/bgFondo.png");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  /*  background-position: center center; */
  background-size: cover;
  position: relative;
  /* links contacto estilos */
  /* ------------------------------------------ */
  /* section blog-------------------- */
  /* ----------------------------------- */
}
.section-footer__img-footer {
  width: 100%;
  height: 30em;
  background-color: rgba(40, 148, 236, 0.8431372549);
}
.section-footer__container-logo {
  padding: 6rem 0 0 0;
}
.section-footer__container-logo img {
  display: block;
  margin: 0 0 0 5rem;
  padding: 3rem 0;
}
.section-footer__container-col {
  display: flex;
  width: calc(100vw - 10rem);
  margin: 0 5rem;
  justify-content: space-between;
}
.section-footer__col1-section-nosotros {
  height: 11.625rem;
  width: 13.625rem;
}
.section-footer__p-nosotros {
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.5;
}
.section-footer__h4-nosotros {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #ffffff;
  padding: 0 0 1rem 0;
}
.section-footer__col1-section-contacto {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-footer__h4-contacto {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #ffffff;
  padding: 0 0 1rem 0;
}
.section-footer__container-links-contacto {
  display: flex;
  width: 15.625rem;
}
.section-footer__container-links-link {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}
.section-footer__container-links-link img {
  margin-left: 0.4rem;
}
.section-footer__container-links-link span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 1;
}
.section-footer__container-links-telephone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2.625rem;
  width: 12rem;
  border-radius: 30px;
  background: linear-gradient(90deg, #4fa9dd 37.5%, #63b5b4 100%);
  border-radius: 30px;
  text-decoration: none;
}
.section-footer__container-links-telephone img {
  height: 1rem;
  width: 16.2229785919px;
  margin-left: 0.4rem;
}
.section-footer__container-links-telephone span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 1;
}
.section-footer__container-links-servicios {
  text-decoration: none;
}
.section-footer__container-links-servicios span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 0.5;
}
.section-footer__container-links-cat-prop {
  text-decoration: none;
}
.section-footer__container-links-cat-prop span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 0.5;
}
.section-footer__container-links-op {
  text-decoration: none;
}
.section-footer__container-links-op span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 1;
  font-size: 1.25rem;
}
.section-footer__container-links-partners {
  text-decoration: none;
}
.section-footer__container-links-partners span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 0.5;
}
.section-footer__container-links-comunidad {
  text-decoration: none;
}
.section-footer__container-links-comunidad span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 0.5;
}
.section-footer__container-links-op2 {
  text-decoration: none;
}
.section-footer__container-links-op2 span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 1;
  font-size: 1.25rem;
}
.section-footer__container-col-col2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-footer__col2-section-servicios {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-footer__col2-section-servicios h4 {
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.section-footer__col2-section-cat-prop {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-footer__col2-section-cat-prop h4 {
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.section-footer__col2-section-links-op {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-footer__container-col-col3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-footer__col3-section-partners {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-footer__h4-partners {
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.section-footer__col3-section-comunidades {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-footer__col3-section-comunidades h4 {
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.section-footer__col3-section-links-op {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-footer__container-col-col4 h4 {
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.section-footer__section-blog {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.section-footer__title-blog {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.section-footer__section-blog-blog1 {
  height: 8.125rem;
  width: 8.9375rem;
  padding: 0.625rem;
  background: linear-gradient(180deg, rgba(67, 73, 101, 0.5) 0%, rgba(67, 73, 101, 0) 100%);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 1rem;
}
.section-footer__p-blog {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 1;
  font-size: 0.625rem;
}
.section-footer__container-container-group-buttons {
  height: 6em;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 0 4rem;
}
.section-footer__container-icons-link {
  display: flex;
  gap: 1em;
  box-sizing: border-box;
}
.section-footer__container-copyright span {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.07em;
  color: #ffffff;
}/*# sourceMappingURL=dashboard.css.map */