/* button light blue gradiente */
/* ----------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.section1 {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/image-112.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* .container-fixed {


    } */
.container-fixed {
  width: 100%;
  position: fixed;
  z-index: 100;
}
.container-fixed__container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fixed__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 1rem 4rem;
  box-sizing: border-box;
}
.container-fixed__header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 14rem;
  width: 100%;
  pointer-events: none;
  background: linear-gradient(0deg, rgba(0, 69, 113, 0.6) -70.07%, rgba(0, 99, 161, 0) 29.93%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.container-fixed__info-evento {
  background-color: #1a263f;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.055em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fixed__navbar {
  display: flex;
  gap: 1rem;
}
.container-fixed__navbar-link {
  text-decoration: none;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.055em;
  color: #ffffff;
}
.container-fixed__navbar-link--blue {
  background-color: #29618f;
  border-radius: 0.7rem;
  padding: 0.3rem;
  box-sizing: border-box;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.055em;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
.container-fixed__navbar-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.container-fixed__navbar-location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.container-fixed__navbar-location-flag {
  padding: 0 0.3rem 0 0;
  box-sizing: border-box;
}
.container-fixed__navbar-location-img {
  padding: 0 0.3rem 0 0;
  box-sizing: border-box;
}
.container-fixed__navbar-location-text {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.055em;
  color: rgba(255, 255, 255, 0.8);
}
.container-fixed__navbar-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fixed__navbar-separator {
  border: solid 1px #ffffff;
}

.container-title-button-p {
  width: 55%;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  padding: 4rem 4rem 0 4rem;
  margin: 0;
}
.container-title-button-p::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: linear-gradient(180deg, #12243a 0%, rgba(40, 57, 77, 0) 100%);
}
.container-title-button-p__title {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.055em;
  color: #ffffff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container-title-button-p__p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.container-title-button-p__container-button {
  display: flex;
  gap: 1rem;
}
.container-title-button-p__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  width: 14.1875rem;
  height: 2.875rem;
  background: linear-gradient(90deg, #4fa9dd 37.5%, #63b5b4 100%);
  border-radius: 1.875rem;
  border: none;
  font-weight: 800;
  font-size: 0.875rem;
  letter-spacing: 0.07em;
  color: #fff;
  cursor: pointer;
}
.container-title-button-p__button--bg-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  width: 14.1875rem;
  height: 2.875rem;
  background-color: transparent;
  border-radius: 1.875rem;
  border: 0.3rem solid #fff;
  font-weight: 800;
  font-size: 0.875rem;
  letter-spacing: 0.07em;
  color: #fff;
  cursor: pointer;
}

.section-view-led {
  width: auto;
  height: 1.2rem;
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}
.section-view-led__span-led, .section-view-led__span-led--light-blue {
  width: 1.5625rem;
  height: 0.375rem;
  background-color: #ffffff;
  border-radius: 3.125rem;
}
.section-view-led__span-led--light-blue {
  background-color: #50aade;
}

/* ----------------------- */
.section2 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(305.55deg, #013563 56.08%, #2c406f 78.04%);
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
  padding: 0 4rem;
}
.section2__title {
  width: 100%;
  height: 10rem;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.055em;
  color: #ffffff;
}
.section2__title-span--light-blue {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #50aade;
}
.section2__wrapper-cards {
  width: 100%;
  height: calc(100% - 10rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section2__card-preview {
  display: flex;
  gap: 2rem;
  width: 33rem;
  height: 20rem;
}
.section2__wrapper-name-p-button {
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section2__name-blog {
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.055em;
  color: #ffffff;
}
.section2__span-date {
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.055em;
  color: rgba(255, 255, 255, 0.8);
}
.section2__p-blog {
  font-size: 0.8125rem;
  font-weight: 400;
  letter-spacing: 0.055em;
  color: #87989f;
}
.section2__ver-mas {
  padding: 6.4rem 0 0 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.section2__span-ver-mas {
  font-size: 0.8125rem;
  font-weight: 800;
  letter-spacing: 0.07em;
  color: #fff;
  -webkit-text-decoration: overline 2px;
          text-decoration: overline 2px;
}
.section2__button-circle-white {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2__cards {
  height: 20rem;
  display: flex;
  gap: 3rem;
}
.section2__card {
  position: relative;
  width: 15.5rem;
  height: 100%;
}
.section2__img-card {
  width: 100%;
  height: 100%;
  display: flex;
}
.section2__container-info {
  width: 100%;
  height: 5rem;
  border-radius: 16px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
}
.section2__h2-card {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.055em;
  color: #172641;
  text-align: center;
}
.section2__span-date--gris {
  width: 100%;
  text-align: center;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.055em;
  color: rgba(179, 179, 179, 0.74);
}

.section3 {
  padding: 0 4rem;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/image-111.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.section3::after {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #003462 28.05%, rgba(0, 52, 98, 0) 104.09%);
}
.section3__div-position {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  z-index: 4;
}
.section3__title-s3 {
  width: 47.5rem;
  font-size: 2.1rem;
  font-weight: 700;
  letter-spacing: 0.055em;
  color: #fff;
}
.section3__p-s3 {
  width: 47.5rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.055em;
  color: #ebebeb;
}
.section3__button-s3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  width: 14.1875rem;
  height: 2.875rem;
  background: linear-gradient(90deg, #4fa9dd 37.5%, #63b5b4 100%);
  border-radius: 1.875rem;
  border: none;
  font-weight: 800;
  font-size: 0.875rem;
  letter-spacing: 0.07em;
  color: #fff;
  cursor: pointer;
}

.section4 {
  background-color: #EAEAEA;
  width: 100%;
  height: auto;
  padding: 4rem;
}
.section4__wrapper-cards {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section4__card {
  width: 49%;
  background-color: #FFFFFF;
  border-radius: 1rem;
  display: flex;
  height: 13.5625rem;
}
.section4__wrapper-name-p-button {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section4__name-blog {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.055em;
  color: #1a253f;
  text-transform: uppercase;
}
.section4__span-date {
  font-size: 0.4375rem;
  font-weight: 700;
  letter-spacing: 0.055em;
  color: #1a253f;
}
.section4___p-blog {
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.055em;
  color: #1a253f;
  text-align: justify;
}
.section4__ver-mas {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;
}
.section4__button-circle-blue {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4__span-ver-mas {
  font-size: 0.8125rem;
  font-weight: 800;
  letter-spacing: 0.07em;
  color: #29618f;
}

.section-view-led-s4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1.2rem;
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}
.section-view-led-s4__span-led, .section-view-led-s4__span-led--light-blue {
  width: 1.5625rem;
  height: 0.375rem;
  background-color: #ffffff;
  border-radius: 3.125rem;
}
.section-view-led-s4__span-led--light-blue {
  background-color: #29618F;
}

.section-footer {
  /* 
  background-color: $bgFondo; */
  background-image: url("../assets/bgFondo.png");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  /*  background-position: center center; */
  background-size: cover;
  position: relative;
  /* links contacto estilos */
  /* ------------------------------------------ */
  /* section blog-------------------- */
  /* ----------------------------------- */
}
.section-footer__img-footer {
  width: 100%;
  height: 30em;
  background-color: rgba(40, 148, 236, 0.8431372549);
}
.section-footer__container-logo {
  padding: 6rem 0 0 0;
}
.section-footer__container-logo img {
  display: block;
  margin: 0 0 0 5rem;
  padding: 3rem 0;
}
.section-footer__container-col {
  display: flex;
  width: calc(100vw - 10rem);
  margin: 0 5rem;
  justify-content: space-between;
}
.section-footer__col1-section-nosotros {
  height: 11.625rem;
  width: 13.625rem;
}
.section-footer__p-nosotros {
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.5;
}
.section-footer__h4-nosotros {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #ffffff;
  padding: 0 0 1rem 0;
}
.section-footer__col1-section-contacto {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-footer__h4-contacto {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #ffffff;
  padding: 0 0 1rem 0;
}
.section-footer__container-links-contacto {
  display: flex;
  width: 15.625rem;
}
.section-footer__container-links-link {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}
.section-footer__container-links-link img {
  margin-left: 0.4rem;
}
.section-footer__container-links-link span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 1;
}
.section-footer__container-links-telephone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2.625rem;
  width: 12rem;
  border-radius: 30px;
  background: linear-gradient(90deg, #4fa9dd 37.5%, #63b5b4 100%);
  border-radius: 30px;
  text-decoration: none;
}
.section-footer__container-links-telephone img {
  height: 1rem;
  width: 16.2229785919px;
  margin-left: 0.4rem;
}
.section-footer__container-links-telephone span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 1;
}
.section-footer__container-links-servicios {
  text-decoration: none;
}
.section-footer__container-links-servicios span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 0.5;
}
.section-footer__container-links-cat-prop {
  text-decoration: none;
}
.section-footer__container-links-cat-prop span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 0.5;
}
.section-footer__container-links-op {
  text-decoration: none;
}
.section-footer__container-links-op span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 1;
  font-size: 1.25rem;
}
.section-footer__container-links-partners {
  text-decoration: none;
}
.section-footer__container-links-partners span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 0.5;
}
.section-footer__container-links-comunidad {
  text-decoration: none;
}
.section-footer__container-links-comunidad span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 0.5;
}
.section-footer__container-links-op2 {
  text-decoration: none;
}
.section-footer__container-links-op2 span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 1;
  font-size: 1.25rem;
}
.section-footer__container-col-col2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-footer__col2-section-servicios {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-footer__col2-section-servicios h4 {
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.section-footer__col2-section-cat-prop {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-footer__col2-section-cat-prop h4 {
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.section-footer__col2-section-links-op {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-footer__container-col-col3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-footer__col3-section-partners {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-footer__h4-partners {
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.section-footer__col3-section-comunidades {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-footer__col3-section-comunidades h4 {
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.section-footer__col3-section-links-op {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-footer__container-col-col4 h4 {
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.section-footer__section-blog {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.section-footer__title-blog {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.section-footer__section-blog-blog1 {
  height: 8.125rem;
  width: 8.9375rem;
  padding: 0.625rem;
  background: linear-gradient(180deg, rgba(67, 73, 101, 0.5) 0%, rgba(67, 73, 101, 0) 100%);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 1rem;
}
.section-footer__p-blog {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.07em;
  color: #ffffff;
  opacity: 1;
  font-size: 0.625rem;
}
.section-footer__container-container-group-buttons {
  height: 6em;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 0 4rem;
}
.section-footer__container-icons-link {
  display: flex;
  gap: 1em;
  box-sizing: border-box;
}
.section-footer__container-copyright span {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.07em;
  color: #ffffff;
}/*# sourceMappingURL=blog.css.map */